{% extends "base.html"%}

{% block content %}

<script language="JavaScript">
    $(document).ready(function () {
        $("#name").select2();
    })
</script>


<style>

     .form-group{

         padding: 40px;

        }

     .w3-card-4{

         padding: 5px;



     td, tr {

         text-align: center;

     }

</style>

    <div class="w3-container w3-padding-50 w3-center w3-padding-large" id="main">

        <div class="w3-col m12">

               <form action="/info" method="post" class="form-inline">

                   {{ form.hidden_tag() }}

                      <div class="form-group">

                        {{form.name.label(class_="sr-only control-label")}}

                        {{form.name(class_="form-control col-sm-10")}}

                      </div>

                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">

                            {{form.submit(class_="btn btn-link")}}

                        </div>
                      </div>

                </form>



        </div>

    </div>


    <div class="row" align="center">

            <div class="col-xs-offset-2 col-xs-4">

                {% if res | length > 0%}

                  <div class="panel panel-default">
                    <div class="panel-body"> 基本信息</div>
                  </div>

                    <div class="container-fluid">

                        <h2>{{ res['basic']['基金会名称']}}</h2>

                        {% for k, v in res['basic'].iteritems()%}

                            {% if '基金会名称' != k | string() %}

                                <div class="panel panel-info">
                                    <div class="panel-heading">{{ k }}</div>
                                    <div class="panel-body">{{ v }}</div>
                                </div>

                            {% endif %}

                        {% endfor %}

                        </div>

                {% endif %}

            </div>

            <div class="col-xs-3">

                {% if  res | length > 0%}

                  <div class="panel panel-default">
                    <div class="panel-body"> 项目信息</div>
                  </div>

                    {% for project in res['project']%}

                        <div class="w3-card-4">

                            <header class="w3-container w3-blue">
                                <h4> {{ project['项目'] }} </h4>
                            </header>

                            {% for k, v in project.iteritems() %}

                                {% if '项目' != k | string() %}

                                    <div class="w3-container">
                                        <p>{{ k }} : {{ v }}</p>
                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                    {% endfor %}

                {% endif %}


            </div>

              <div class="col-xs-3">
                <h4 align="center"><span class="glyphicon glyphicon-th-list">受欢迎排行</span></h4>

                 <table class="table table-hover">

                    <tr class="active">
                        <td> 基金名称 </td>
                    </tr>

                    {% for v in popular %}


                         {% if loop.index0 % 2 == 0%}
                            <tr class="default">
                                {% else %}
                                <tr class="active">
                         {% endif %}

                                <td> {{ v }} </td>

                            </tr>


                    {% endfor%}


                </table>
        </div>

    </div>

        <div class="row">

            <div class="col-xs-offset-9 col-xs-3">


                 <h4 align="center"><span class="glyphicon glyphicon-th-list">热门标签排行</span></h4>

                 <table class="table table-hover">

                    <tr class="active">
                        <td> 基金名称 </td>
                        <td> 所在地　</td>
                        <td> 净资产 </td>
                    </tr>

                     {% for row in hottag.iterrows()%}

                     {% if loop.index0 % 2 == 0%}

                     <tr class="default">

                         {% else %}

                         <tr class="active">

                     {% endif %}

                         <td> {{ row[0] }} <span class="badge"> {{ row[1][2] }}</span> </td>
                         <td> {{ row[1][0] }}</td>
                         <td> {{ row[1][1] }}</td>


                    </tr>


                    {% endfor %}

                </table>






            </div>


        </div>





{% endblock %}