{% extends "base.html" %}

{% block content %}

<script language="JavaScript">
    $(document).ready(function () {
        $("#meet").click(function () {
           $("#meet-name").toggle();
        })
    })
</script>

    <div class="w3-container w3-padding-50 w3-center w3-padding-large" id="main">

        <div class="w3-col m10">

        <form action="/recommend" class="form-horizontal" method="post">

            {{ form.hidden_tag() }}

                  <span class="glyphicon glyphicon-bookmark" style="margin-bottom: 7px; color: #cc0000">
                      历史记录
                  </span>

                 <div class="checkbox " align="left" style="padding-left: 180px">

                     <label>
                     {{form.meet()}}
                     {{form.meet.label()}}
                     </label>

                 </div>

                <div class="form-group" id="meet-name" style="display: none">


                    {{form.name.label(class_="col-sm-2 control-label")}}

                      <div class="col-sm-10">
                          {{form.name(class_="form-control")}}
                      </div>

              </div>


                <span class="glyphicon glyphicon-bookmark" style="margin-bottom: 20px; color: #cc0000">
                      业务信息
                  </span>

                  <div class="form-group">
                        {{form.lingyu.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-10">
                        {{form.lingyu(class_="form-control")}}
                    </div>

                  </div>




        <span class ="glyphicon glyphicon-bookmark" style="margin-bottom: 20px; color: #cc0000">
              财务信息
          </span>

            <div class="form-group">


                    {{form.jingzichan.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                    {{form.jingzichan(class_="form-control")}}
                    </div>

                    {{form.shouru.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                    {{form.shouru(class_="form-control")}}
                    </div>

                    {{form.zhichu.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                    {{form.zhichu(class_="form-control")}}
                    </div>

                    {{form.feiyong.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                    {{form.feiyong(class_="form-control")}}
                    </div>


            </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="text-decoration: solid">

                    {{form.submit(class_="btn btn-default")}}

                </div>
              </div>

            </form>

        </div>

    </div>
{% endblock %}

