{% extends "base.html" %}

{% block content %}

<style>

    .form-group{

        padding: 40px;

    }

    span.glyphicon{

        color: #cc0000

    }

    .checkbox{

        padding-left: 180px

    }

</style>

<script language="JavaScript">
    $(document).ready(function () {
        $("#meet").click(function () {
           $("#meet-c").toggle();
        });
        $("#interest").click(function () {
            $("#interest-c").toggle();
        });
        $("#lingyu").select2();
        $("#location").select2();
        $("#management").select2();
        $("#purity").select2();
        $("#interest_name").select2();
        $("#meet_name").select2();
    })
</script>

    <div class="w3-container w3-padding-50 w3-center w3-padding-large" id="main">

        <div class="w3-col m10">

        <form action="/recommend" class="form-horizontal" method="post">

            {{ form.hidden_tag() }}

                  <span class="glyphicon glyphicon-bookmark w3-right w3-right" >
                        查询信息
                  </span>

                 <div class="checkbox " align="left">
                     <div class="col-xs-6">
                     {{form.meet()}}
                     {{form.meet.label()}}
                     </div>
                     <div class="col-xs-6">
                     {{form.interest()}}
                     {{form.interest.label()}}
                     </div>
                 </div>

                <div class="form-group" id="meet-c">


                    {{form.meet_name.label(class_="col-sm-2 control-label")}}

                      <div class="col-sm-10">
                          {{form.meet_name(class_="form-control")}}
                      </div>

                </div>

                <div class="form-group" id="interest-c">

                       {{form.interest_name.label(class_="col-sm-2 control-label")}}

                      <div class="col-sm-10">
                          {{form.interest_name(class_="form-control", multiple=True)}}
                      </div>

                </div>



                <span class="glyphicon glyphicon-bookmark w3-right" >
                      业务信息
                  </span>

                  <div class="form-group">
                        {{form.lingyu.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-10">
                        {{form.lingyu(class_="form-control", multiple=True)}}
                    </div>

                  </div>


        <span class ="glyphicon glyphicon-bookmark w3-right" >
              财务信息
          </span>

            <div class="form-group">


                    {{form.jingzichan.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                        {{form.jingzichan(class_="form-control")}}
                        <p class="w3-tooltip">?<span class="w3-text">
                            每个等级的净资产平均值 <em>小型：
                        8297497, 中型：32470654, 大型： 618969282</em></span></p>
                    </div>

                    {{form.shouru.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                    {{form.shouru(class_="form-control")}}
                         <p class="w3-tooltip">?<span class="w3-text">
                             每个等级的收入比例（总收入/净资产）平均值 <em>低：
                        -0.2825629, 中：0.4333708, 高： 2.1088900</em></span></p>
                    </div>

                    {{form.zhichu.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                        {{form.zhichu(class_="form-control")}}
                         <p class="w3-tooltip">?<span class="w3-text">
                             每个等级的支出比例（总支出/净资产）平均值 <em>低：
                        -0.2957747, 中：0.3089209, 高： 1.8594327</em></span></p>
                    </div>

                    {{form.feiyong.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-1">
                        {{form.feiyong(class_="form-control")}}
                         <p class="w3-tooltip">?<span class="w3-text">
                             每个等级的费用比例（总费用/净资产）平均值 <em>低：
                        -0.3699025, 中：0.2820554, 高： 1.9596298</em></span></p>
                    </div>

            </div>

            <span class ="glyphicon glyphicon-bookmark w3-right" >
                其他信息（选填）
            </span>

             <div class="form-group">


                    {{form.location.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-2">
                    {{form.location(class_="form-control", multiple=True)}}
                    </div>

                    {{form.management.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-2">
                    {{form.management(class_="form-control, multiple=True")}}
                    </div>

                    {{form.purity.label(class_="col-sm-2 control-label")}}
                    <div class="col-sm-2">
                    {{form.purity(class_="form-control")}}
                         <p class="w3-tooltip">?<span class="w3-text">
                             每个等级的透明度平均值 <em>低：
                        24.86185, 中：54.90604, 高： 90.41504</em></span></p>
                    </div>

             </div>





            <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">

                    {{form.submit(class_="btn btn-default")}}

                </div>
              </div>


            </form>

        </div>

    </div>

{% endblock %}

